@{
    Layout = "~/Views/Shared/_LoginSignUpNav.cshtml";
    ViewData["Title"] = "Login";
}
<div class="container" style="margin:0 !important;">
    <div class="row" style="display: flex; align-items: center; height: 90vh;">
        <div class="col-md-8" style="padding:0;">
            <img src="/img/food2.jpg" alt="#" style="max-width:100%; height:auto;" />
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>